
body {

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

#input {
    margin-right: 15px;
}

.checkbox-wrapper {
    margin-bottom: 25px;
}

.favorites {
    margin-bottom: 20px;
}

.mainBox {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}
.main{
    flex-grow: 1;
    padding-top: 80px;
}
.favorites-list{
    display: flex;
    justify-content: space-between;
}
.favorites-btn{
    justify-content: left;

}