.wrapper {
    margin: auto;
    width: 300px;
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    text-align: left;
    padding: 25px;
    position: relative;
    min-height: 100%;
    line-height: 40px;
}

.switch-main {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.switch-main__switch-text {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.desc {
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
    bottom: 15px;
    width: 90%;
    line-height: 20px;
}

.max-min {
    flex: 1 0 auto;
}
.forecast-wrap{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}