.switch-main__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 20px;
    background-color: #2196F3;
    cursor: pointer;
}

.switch-main__switch input {
    display:none;
}


.switch-main__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .switch-main__slider:before {
    -webkit-transform: translateX(26px);
}

.switch-main__slider.round {
    border-radius: 34px;
}

.switch-main__slider.round:before {
    border-radius: 50%;
}
